.error {
    text-align: center;
    margin-top: 20%;
}

h2 {
    margin-top: -3%;
    font-size: 150%;
    font-weight: bold;
    color: #282D30;
}

h1 {
    font-weight: bold;
    font-size: 350%;
    color: #282D30;
}

.button {
    background-color:#55628C;
    height: 10%;
    border-radius: 3px;
    width: 5%;
    margin-left: 47.5%;
    border-style: solid;
    border-color: #3A3A38;
}

.button, a {
    text-align: center;
    font-weight: bold;
    color:#282D30;
    font-size: 115%;
    text-decoration: none;
    
}

body {
    background: url(https://stfalcon.com/uploads/images/59bbbb770b11c.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.error:hover {
     animation: flash 1s;
}